/* @import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap'); */

.app {
  min-height: 100vh;
  width: 100%;
  display: flex;
  background-image: url(./assets/background.png);
  background-size: cover;
  background-position: center;
}

::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-thumb {
  background: rgba(136, 136, 136, 0.3);
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}